@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/TTLakes-Light.ttf");
}

@font-face {
    font-family: "TTLakesB";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/TTLakes-Bold.ttf");
}

* {
    padding: 0;
    margin: 0;

    font-family: "TTLakes", "Arial", sans-serif;
    font-size: 16px;

    transition: 200ms;
}

body {
    background-color: #F8F8F8;
}

body > * {
    min-width: 320px;
    max-width: 1120px;
}

.header {
    height: 56px;

    background-image: linear-gradient(to right, #F8F8F8, #FFF);
    color: #7E7E82;
    text-transform: uppercase;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main {
    padding-bottom: 38px;

    min-width: 0;
}

.header__title {
    padding-left: 32px;
}

.brends {
    width: 100%;
    margin: 5%;
}

.brends__list {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-start;

    width: max-content;

    overflow: hidden;
}

.brends__li {
    height: 70px;
    width: 238px;

    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: #FFF;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brend {
    width: auto;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.brend__logo {
    width: 100%;
    height: 100%;

    background: no-repeat;
    background-position-y: center;
    margin-left: 16px;
}

div[class*='lenovo'] .brend__logo {
    background-image: url('../img/lenovo.svg');
}

div[class*='samsung'] .brend__logo {
    background-image: url('../img/samsung.svg');
}

div[class*='apple'] .brend__logo {
    background-image: url('../img/apple.svg');
}

div[class*='viewsonic'] .brend__logo {
    background-image: url('../img/viewsonic.svg');
}

div[class*='bosch'] .brend__logo {
    background-image: url('../img/bosch.svg');
}

div[class*='hp'] .brend__logo {
    background-image: url('../img/hp.svg');
}

div[class*='acer'] .brend__logo {
    background-image: url('../img/acer.svg');
}

div[class*='sony'] .brend__logo {
    background-image: url('../img/sony.svg');
}

.brends__button {
    width: 72px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.brends__button>.button {
    background-color: transparent;
    background-image: url('../icon/button-go.svg');
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 50%;
    border: transparent;

    width: 40px;
    height: 40px;
}

.expand {
    display: none;
}

.expand__button {
    margin-left: 32px;

    height: 24px;
    max-width: content;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;

    background: none;
    border: none;

    font-weight: 600;
    color: #1B1C21;

    cursor: pointer;
}

.expand__img {
    width: 24px;
    height: 100%;

    background: url('../icon/more.svg') no-repeat center;

    /*transform: rotate(180deg);*/
}

.hidden {
    display: none;
}

.expand__img--down {
    transform: rotate(0deg);
}

.button:hover {
    transform: scale(1.2);
    transition-property: transform, box-shadow;
    transition: 200ms;

    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);

    cursor: pointer;
}

@media (max-width: 767px) {

    .swiper-container {
        overflow: hidden;
        margin: 0px;
    }

    .swiper-wrapper {
        flex-wrap: nowrap;
        padding: 16px;
    }

    .swiper-wrapper > :last-child {
        margin-right: 16px;
    }

    .swiper-slide {
        width: 238px;
        height: 70px;

        border: 1px solid #EAEAEA;
        border-radius: 6px;
        background-color: #FFF;

        margin-right: 0px;
    }

    .swiper-pagination {
        display: block;
        position: static;
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        opacity: 1;
        background: #DDDDDD;
    }

    .swiper-pagination-bullet-active {
        background: #B5B6BC;
    }

}

@media (min-width: 768px) and (max-width: 1119px) {

    body > * {
        width: 100%;
    }

    .brends {
        margin: 24px;
    }

    .brends__list {
        gap: 16px 24px;
        flex-flow: row wrap;

        width: 769px;
        height: max-content;

        overflow: hidden;
    }

    .brends__li {
        width: 222px;
    }
    
    .brends__li:nth-child( n + 7 ) {
        display: none;
    }

    .swiper-pagination {
        display: none;
    }

    .expand {
        height: 24px;
        width: 100%;

        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

@media (min-width: 1120px) {
    body>* {
        margin: 0 auto;
    }

    .brends {
        margin: 24px 32px;
        /*проценты*/
    }

    .brends__list {
        gap: 16px 32px;

        flex-flow: row wrap;

        width: 100%;
        height: max-content;

        overflow: hidden;
    }
    
    .brends__li:nth-child( n + 9 ) {
        display: none;
    }

    .swiper-pagination {
        display: none;
    }

    .expand {
        height: 24px;
        width: 100%;

        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}